extends base

block content

  section.login
    .login__image
      img(src='./img/login.jpg' alt='icono')
    .login__container
      .login__form
        h2.login__title Iniciar sesi&oacute;n
        form.login__form(action='/login' method='POST')
          input.login__input(type='text' name='email' id='email' placeholder='Correo electr&oacute;nico' required)
          input.login__input(type='password' name='password' id='password' placeholder='Contrase&ntilde;a' required)
          button.login__button(type='submit') Iniciar sesi&oacute;n
        a.login__link(href='/forgot-password') &iquest;Olvidaste tu contrase&ntilde;a?
        a.login__link(href='/signup') &iquest;No tienes cuenta? Reg&iacute;strate
