extends base
block content 
  section.register
    .register__image
      img(src='./img/register.jpg' alt='icono')
    .register__container
      .register__form
        h2.register__title Reg&iacute;strate
        form.register__form(action='')
          input.register__input(type='text' placeholder='Nombre')
          input.register__input(type='text' placeholder='Apellido')
          input.register__input(type='text' placeholder='Correo electrónico')
          input.register__input(type='password' placeholder='Contraseña')
          input.register__input(type='password' placeholder='Confirmar contraseña')
          button.register__button Registrarse
        a.register__link(href='/login') &iquest;Ya tienes cuenta? Inicia sesi&oacute;n
