/* Global styles */

*::after, *::before, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 1rem;
}


a{
    text-decoration: none;
}
a.link{
    color: #222;
}

a.link:hover{
    color: #000;
    transform: scale(1.05);
    transition: all 0.5s;
}   


a:active{
    color: #222;
}
a:visited{
    color: #222;
} 

/* Utils */

.hidden{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}


/* Section */

.section__title{
    text-align: center;
    font-size: 3rem;
    margin: 10rem 0 5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(45deg, #ff6b6bc4, #ffcc00eb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Preload */

.preload{
    background-color: #1f1f21;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* transition: all 0.5s; */
}

.preload__content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;;
}

.preload__icon{
    width: 10rem;
    height: 10rem;
    /* animation: rotate 2s linear infinite; */
}

.preload__icon img{
    width: 100%;
    height: 100%;
}



.preload__text{
    text-align: center;
}


/* NavBar */

.navbar{
    background-color: #EAEAEA;
    border-bottom: 1px solid #EEE;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    justify-content: space-between;
}

.navbar img{
    height: 3.5rem;
}

.menu{
    flex: 1;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    padding-right: 2rem;    
    gap: 3rem;
}

/* Main */

.main{
    width: 100%;
    height: 90vh;
    background: linear-gradient(#222222aa, rgba(2,2,2,0.8)), url('../img/bg3.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eaeaea;
    flex-direction: column;
    gap: 4rem;
    text-transform: uppercase;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-size: 2.5rem;
    font-style: normal;
    position: relative;
}

.main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    clip-path: polygon(0 100%, 100% 100%, 100% 90%);
    border: 10px solid #eaeaea;
    opacity: 1;
    z-index: 2;
}

.main__button::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7rem;
    height: 5rem;
    background: url('../img/snake.png') no-repeat center center/cover;
    transform: rotate(-20deg);
    opacity: 0.7;
    z-index: 3;
}


.main__text{

}

.main__button{
    background-color: #EAEAEA;
    color: #222;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s;
    animation: shine 3s alternate 2s;
    
   
}


.main__button:hover{
    box-shadow: 0.1rem 0.1rem 0.5rem #dadada;
}

/* Tours section */ 

.tours{
    padding: 3rem;
    text-align: center;
    background-color: #EAEAEA   ;
}

.flex_container{
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

/* Card */

.card{
    background-color: #EAEAEA;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #222;
    transition: all 0.5s;
    max-width: 40rem;
    margin: 0 auto;
}

.card__button {
    display: inline-block; /* Ensures the button behaves like an inline element */
    color: #EEE;
    background-color: #705C53;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0; /* Adds spacing around the button if necessary */
    width: auto; /* Ensures it does not stretch the full width */
}

.card__img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

.card__img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: 0.1;
    border-radius: 5px;
}

.card__description{
    padding: 2rem;
    text-align: justify;
    height: 21rem;
}

.card__button{
    margin-bottom: 4rem;
}

.cards {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(3, 1fr);  /* Default 3-column layout */
    width: 100%;
    background-color: #B7B7B7;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Optional: adds space between cards */
    transition: all 0.5s;
}

/* Animation */

@media screen and (max-width: 1300px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);  /* 2-column layout for tablet size */
    }
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: 1fr;  /* 1-column layout for mobile */
    }
}


@keyframes shine {
    0% {
        box-shadow: 0.1rem 0.1rem 0.5rem #222;
    }
    50% {
        box-shadow: 0.1rem 0.1rem 0.5rem #EAEAEA;
    }   

    100% {
        box-shadow: 0.1rem 0.1rem 0.5rem #222;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* Preloader */


#loading{
    background-color: #1e1e20;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
  }
  #loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    }
  #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg); 
       -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
  
  }
  .object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    margin-right: 110px;
    float: left;
    margin-bottom: 110px;
  
    }
  .object:nth-child(2n+0) {
    margin-right: 0px;
  
  }
  
  
  #object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    }
  #object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    }
  #object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    }
  #object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
  }
  #object_big{
    -webkit-animation: object_big 0.5s infinite;
    animation: object_big 0.5s infinite;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
  }	

  /* Animations preload  */
  
  @-webkit-keyframes object_big {
    25% { -webkit-transform:  scale(0.5); }
  
  }
  
  @keyframes object_big {
    25% { 
      transform:  scale(0.5);
      -webkit-transform:   scale(0.5);
    }
  }
  
  
  
  @-webkit-keyframes object_one {
    25% { -webkit-transform: translate(130px,0) rotate(-90deg) ; }
    50% { -webkit-transform: translate(130px,130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(0,130px) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
  }
  
  @keyframes object_one {
    25% { 
      transform: translate(130px,0) rotate(-90deg) ;
      -webkit-transform: translate(130px,0) rotate(-90deg) ;
    } 
    50% { 
      transform: translate(130px,130px) rotate(-180deg);
      -webkit-transform: translate(130px,130px) rotate(-180deg);
    } 
    75% { 
      transform: translate(0,130px) rotate(-270deg) ;
      -webkit-transform: translate(0,130px) rotate(-270deg) ;
    } 
    100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
  
  @-webkit-keyframes object_two {
    25% { -webkit-transform: translate(0,130px) rotate(-90deg) ; }
    50% { -webkit-transform: translate(-130px,130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(-130px,0) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
  }
  
  @keyframes object_two {
    25% { 
      transform: translate(0,130px) rotate(-90deg) ; 
      -webkit-transform: translate(0,130px) rotate(-90deg) ; 
    } 
    50% { 
      transform: translate(-130px,130px) rotate(-180deg);
      -webkit-transform: translate(-130px,130px) rotate(-180deg);
    } 
    75% { 
      transform: translate(-130px,0) rotate(-270deg) ;
      -webkit-transform: translate(-130px,0) rotate(-270deg) ;
    } 
    100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
  @-webkit-keyframes object_three {
    25% { -webkit-transform: translate(0,-130px)  rotate(-90deg) ; }
    50% { -webkit-transform: translate(130px,-130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(130px,0) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
  }
  
  @keyframes object_three {
    25% { 
      transform: translate(0,-130px)  rotate(-90deg) ;
      -webkit-transform: translate(0,-130px)  rotate(-90deg) ;
    } 
    50% { 
      transform: translate(130px,-130px) rotate(-180deg);
      -webkit-transform: translate(130px,-130px) rotate(-180deg);
    } 
    75% { 
      transform:  translate(130px,0) rotate(-270deg) ;
      -webkit-transform: translate(130px,0) rotate(-270deg) ;
    } 
    100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
  
  @-webkit-keyframes object_four {
    25% { -webkit-transform: translate(-130px,0)  rotate(-90deg) ; }
    50% { -webkit-transform: translate(-130px,-130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(0,-130px) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
  }
  
  @keyframes object_four {
    25% { 
      transform: translate(-130px,0)  rotate(-90deg) ; 
      -webkit-transform: translate(-130px,0)  rotate(-90deg) ; 
    } 
    50% { 
      transform: translate(-130px,-130px) rotate(-180deg);
      -webkit-transform: translate(-130px,-130px) rotate(-180deg);
    } 
    75% { 
      transform: translate(0,-130px) rotate(-270deg) ;
      -webkit-transform: translate(0,-130px) rotate(-270deg) ;
    } 
    100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
/* End Preloader */


/* Login */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EAEAEA;
}

.login__container{
    background-color: #FFF;
    padding: 3rem;
    border-radius: 0 5px 5px 0;
    height: 30rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #222;
    width: 30rem;
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__input{
    padding: 1rem;
    border: 1px solid #222;
    border-radius: 5px;
}

.login__button{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #705C53;
    color: #EEE;
    cursor: pointer;
    transition: all 0.5s;
}

.login__button:hover{
    background-color: #222;
}

.login__link{
    text-align: center;
    text-decoration: none;
}

.login__link:hover{
    text-decoration: underline;
}

.login__image{
    display: flex;
    align-items: center;
    height: 35.8rem;
    border-radius: 5px 0 0 5px;
    margin-bottom: 2rem;
    z-index: 2;
    padding-top: 2rem;
}

.login__image img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

/* Register */

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EAEAEA;
}

.register__container{
    background-color: #FFF;
    padding: 3rem;
    border-radius: 0 5px 5px 0;
    height: 40rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #222;
    width: 30rem;
}

.register__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register__input{
    padding: 1rem;
    border: 1px solid #222;
    border-radius: 5px;
}

.register__button{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #705C53;
    color: #EEE;
    cursor: pointer;
    transition: all 0.5s;
}

.register__button:hover{
    background-color: #222;
}

.register__link{
    text-align: center;
    text-decoration: none;
}

.register__link:hover{
    text-decoration: underline;
}


.register__image{
    display: flex;
    align-items: center;
    height: 46rem;
    border-radius: 5px 0 0 5px;
    margin-bottom: 2rem;
    z-index: 2;
    padding-top: 2rem;
}

.register__image img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
} 

/* Footer */